<%- include("header") -%>

<h2>About this project</h2>

<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quisquam voluptatum harum atque deserunt veniam quas sint expedita. Iusto illo nemo a corrupti quod voluptatem aliquid non tempora nobis. Debitis fuga rem fugiat magni? Cumque exercitationem nam fuga, velit nisi deserunt sit iure voluptatem dignissimos deleniti, adipisci magnam temporibus nostrum aspernatur!</p>

<%- include("footer") -%>